html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 90vh;
    background-color: rgb(255, 255, 255);
    /*border: 2px dashed blue;*/
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none; 
  color: black; 
}
header{
    display: flex;
    padding-left: 10px;
    padding-right: 15px;
    justify-content: space-between;
    background-color: rgb(216, 216, 216);
    border-bottom: 2px solid black;
    height: 10%;
    align-items: center;
    
}
.logo{
    display: flex;
   /* border: 2px dashed yellow;*/
    height: 100%;
    width: 200px;
}
.imglogo{
    height: 100%;
    width: 200px;
    content: url(images/logos-01.png);
}
.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 500px;
   /* border: 2px dashed rgb(255, 0, 0);*/
}
.help{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    /*border: 2px dashed yellow;*/
}
.Button{
    height: 50px;
    width: 130px;
    background-color: white;
}
.Button:hover{
    background-color: black;
    color: white;
    font-size: large;
}
.Button2{
    height: 50px;
    width: 130px;
    align-items: center;
    background-color: white;
}
.Button2:hover{
    background-color: black;
    color: white;
    font-size: large;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px dashed black;*/
    height: 100%;
    width: 100%;
}
.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 1200px;
    min-height: 60vh;
    border-radius: 4%;
    border: 2px solid black;
    background-color: rgb(216, 216, 216);
}
.entete{
    width: 100%;
    height: 10%;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: black;
}
.txtfooter::after{
    content: "W.I.P";
    color: white;
}
.fileslct{
    margin-top: 50px;
}/*
