html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-size: auto ;
    /*background: linear-gradient(45deg, rgb(1, 60, 123),rgb(68, 158, 255));*/
    background-image: url(./images/background.jpg);
    /*border: 2px dashed blue;*/
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none; 
  color: black; 
}
header{
    display: flex;
    padding-left: 10px;
    padding-right: 15px;
    justify-content: space-between;
    backdrop-filter: blur(50px);
    background-color: white;
    height: 10%;
    align-items: center;
    
}
.logo{
    display: flex;
   /* border: 2px dashed yellow;*/
    height: 100%;
    width: 200px;
}
.imglogo{
    height: 100%;
    width: 100px;
    content: url(images/logos-01.png);
}
.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 500px;
   /* border: 2px dashed rgb(255, 0, 0);*/
}
.help{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    /*border: 2px dashed yellow;*/
}
.Button{
    height: 50px;
    width: 130px;
    background-color: white;
}
.Button:hover{
    background-color: black;
    color: white;
    font-size: large;
}
.Button2{
    height: 50px;
    width: 130px;
    align-items: center;
    background-color: white;
}
.Button2:hover{
    background-color: black;
    color: white;
    font-size: large;
}
main{
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    /*border: 2px dashed black;*/
    height: 100%;
    width: 100%;
}
.ContentL{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    min-height: 80vh;
    border-radius: 10%;
    background-color: white;*/
   
    
}
.ContentR{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 50%;
    min-height: 80vh;
    border-radius: 10%;
    background-color: white;*/
   
    
}
.entete{
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(900deg, #3b3b3b,rgb(32, 32, 32));
}
.txtfooter::after{
    content: "W.I.P";
    color: white;
}
.fileslct{
    margin-top: 50px;
}/*
