html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-size: auto ;
    /*background: linear-gradient(45deg, rgb(1, 60, 123),rgb(68, 158, 255));*/
    /*background-image: url(./images/background.avif);*/
    /*border: 2px dashed blue;*/
}
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(100px);
    }
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
}
img{
    
}
a{
  text-decoration: none; 
  color: black; 
}
header{
    display: flex;
    padding-left: 10px;
    padding-right: 15px;
    justify-content: space-between;
    backdrop-filter: blur(50px);
    background-color: white;
    height: 100px;
    width: 100%;
    align-items: center;
    position:fixed;
    
}

label {

    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
input[type="text"],
    select {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    select {
        height: 45px;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
.logo{
    display: flex;
   /* border: 2px dashed yellow;*/
    height: 100%;
    width: 200px;
}
.imglogo{
    height: 100%;
    width: 100px;
    content: url(images/logos-01.png);
}
.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 500px;
   /* border: 2px dashed rgb(255, 0, 0);*/
}
.help{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    width: 400px;
    height: 100%;
    /*border: 2px dashed yellow;*/
}
.Button{
    height: 50px;
    width: 130px;
    border-radius: 10px;
    background-color: white;
}
.Button:hover{
    background-color: rgb(102, 168, 215);
    color: white;
    font-size: large;
}
.Button2{
    height: 50px;
    width: 130px;
    align-items: center;
    background-color: white;
}
.Button2:hover{
    background-color: black;
    color: white;
    font-size: large;
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    /*align-items: center;
    justify-content: center;*/
    /*border: 2px dashed black;*/
    height: 100%;
    width: 100%;
}
.ContentL{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    min-height: 80vh;
    border-radius: 5vh;
    background-color: white;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    
}
.ContentR{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 50%;
    min-height: 80vh;
    border-radius: 5vh;
    background-color: white;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    
}
.ContentLarge{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    min-height: 80vh;
    border-radius: 5vh;
    background-color: white;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    
}
.Content{
    display:block;
    /*border: 4px solid black;*/
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;

}
.entete{
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(900deg, #3b3b3b,rgb(32, 32, 32));
}
.txtfooter::after{
    content: "Isinum 2024";
    color: white;
}
.fileslct{
    margin-top: 50px;
}/*
